<div class="container">
    <h2>Support</h2>

    <secion>
        <button id="updateAppButton" class="btn btn-blue" style="display: none;">Update app</button>

        <button id="AddHomescreen" class="btn btn-orange" style="display: none;">Add to homescreen</button>
    </secion>
</div>