.spinner-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.spinner {
  border: 2px solid #eee;
  font-size: 40px;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  animation: spin 1s linear infinite;
  border-top-color: var(--light-blue);
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
