
.hide-until-load {
  opacity: 1 !important;
}

.btn,
button {
  padding: 25px;
  border-radius: 10px;
  background: var(--button);
  border: none;
  color: white;
  font-size: 20px;
  transform: translateX(0) translateY(0) scale(1);
  transition: all .25s ease-in;
  box-shadow: 2px 2px 0 0 black;
}

@media(hover:hover){

  button:hover  {
    background: var(--button-hover);
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="font-size:18px"><text y="18">▶️</text></svg>'), auto; 
    transform: translateX(2px) translateY(2px) scale(1);
    box-shadow: 0 0 0 0 black;
    transition: all .25s ease-in;
  }
}

button.active {
  background: var(--button-active);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="font-size:18px"><text y="18">🔊</text></svg>'), auto;
  transform: translateX(5px) translateY(5px) scale(.99);
  box-shadow: -1px -1px 0 0 black;
  transition: all .25s ease-in;
}

button em {
  display: block;
  font-size: 17px;
}

.update-wrapper {
  display: none;
}

.update-wrapper button {
  background: var(--green);
}

.update-wrapper button:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="font-size:18px"><text y="18">🔰</text></svg>'), auto;
}

.update-wrapper.update-wrapper--shown {
  display: block;
  margin-bottom: 2em;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border-top: 0.7px solid var(--lighter-gray);
  height: 1px;
}
